BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
PointerAlignment: Left
ReferenceAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SortIncludes: true
IncludeBlocks: Regroup
NamespaceIndentation: None
AccessModifierOffset: -4
EmptyLineBeforeAccessModifier: LogicalBlock
Cpp11BracedListStyle: true
Standard: c++20
